
.footer{
  padding: 15rem 0;
  background-color: $color-grey-dark-3;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
  

  &__logo-box{
    text-align: center;
    margin-bottom: 5rem;
    
  } 

  &__logo{
    width: 15rem;
    height: auto;
  }

  &__navigation{
    border-top: 1px solid $color-grey-dark-2;
    padding-top: 1rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list{
    list-style: none;
    padding: 0;
  }

  &__item{
    display: inline-block;
  }

  &__link{

    &:link,
    &:visited{
      font-size: 1.2rem;
      color: $color-grey-dark-2;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .3 ease-out;
      backface-visibility: hidden;
    }

    &:not(:last-child){
      margin-right: 2rem;
    }

    &:hover,
    &:visited{
      color: $color-primary;
      transform: scale(1.1);
    }
    transition: all .1s;
  }

  &__copyright{
    color: $color-grey-dark-2;
    border-top: 1px solid $color-grey-dark-2;
    padding-top: 1rem;
    width: 75%;
    float:right;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      float: none;
      margin-top: -2rem;
    }
  }

}