.section-about {
  background-color: $color-grey-white-1;
  padding-top: 25rem;
  margin-top: -20vh;
}

.section-features{
  
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light,0.8), 
    rgba($color-primary-dark,0.8)),  
    url('../img/nat-4.jpg');
  background-size: cover;
  background-position: center;
  margin-top: -8rem;
  transform: skewY(-5deg);
  
  & > * {
    transform: skewY(5deg);
  }
}

.section-tours{
  background-color: $color-grey-white-1;
  padding-top: 15rem;
  margin-top: -8rem;
  padding-bottom: 10rem;
  color: red;
}

.section-stories{
  padding: 15rem 0;
  position: relative;
}

